old/node-red flow.txt
[{"id":"65f73b18ea9fc5d1","type":"tab","label":"3R2C_model","disabled":false,"info":"","env":[]},{"id":"c82b86d63354d180","type":"group","z":"65f73b18ea9fc5d1","name":"Preprocessing","style":{"label":true,"color":"#000000"},"nodes":["b25761085f7952e4","9bd7297586155969","23c13b23c780c20b","9244b5a85b4d8c05","b31d205ccdc70135","f9a0ac4e7f717c0e","e871ada20af6884d","43dd94a6d46ac0cc","90dfc48ddaa1f6e8","b05558f2e11cdf4a","e558d390bc7c43db"],"x":54,"y":59,"w":872,"h":282},{"id":"672c5f811723d5c3","type":"group","z":"65f73b18ea9fc5d1","name":"tslow","style":{"label":true,"color":"#000000"},"nodes":["3ae5bf5f7ee2ad46","56b3a72ff3de3de6","b1df3648e41860f5","d39677cda4325c49","de5828e86ed8c033","c467e0ed0cc5bfed"],"x":54,"y":599,"w":852,"h":142},{"id":"9c1f3cd7bada7b24","type":"group","z":"65f73b18ea9fc5d1","name":"tfast","style":{"label":true,"color":"#000000"},"nodes":["e50e20a70caee979","117a5691bc56829d","7bb3ad3ff9017b25","57b2c4c38bb58326","8942f3e452fb4d6d","bba50baf53266907"],"x":54,"y":759,"w":852,"h":142},{"id":"3ceb98c8795f9a76","type":"group","z":"65f73b18ea9fc5d1","name":"r2r2c","style":{"label":true,"color":"#000000"},"nodes":["37bed428a3b949f8","64d3e842c5037a1a","006ff99a19db3779","9aea412a7612d779","782a012d0ecb5127","2a324c5f6cb4d97a"],"x":54,"y":919,"w":852,"h":142},{"id":"33cfaac64c6501b1","type":"group","z":"65f73b18ea9fc5d1","name":"solar","style":{"label":true,"color":"#000000"},"nodes":["aaef2e91ef06df54","3652e429b8acdef9","2ba9c09e94c8f7fa","e613c51a8878c2fe","805e26c4d842f20a","46baa39224a8033a"],"x":54,"y":1079,"w":852,"h":142},{"id":"109d4e8c5622d9ae","type":"group","z":"65f73b18ea9fc5d1","name":"r2r2c_solar","style":{"label":true,"color":"#000000"},"nodes":["8a28550b160a38cf","0ca0968096132b6d","39bace1ea894efcf"],"x":54,"y":1239,"w":852,"h":82},{"id":"0ad74fb3c14bb86a","type":"group","z":"65f73b18ea9fc5d1","name":"Preprocessing predict data","style":{"label":true,"color":"#000000"},"nodes":["c819456b0edb4388","d4211d9741493979","236bb88f37f8c861","335b3d349ee6b2b6","82aef8a29f8c2a68"],"x":54,"y":399,"w":872,"h":142},{"id":"b25761085f7952e4","type":"comment","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"Haal history data uit HA op","info":"","x":230,"y":180,"wires":[]},{"id":"9bd7297586155969","type":"inject","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"Haal history data uit HA op","props":[{"p":"days","v":"110","vt":"num"},{"p":"mode","v":"train","vt":"str"},{"p":"write_jsonl","v":"true","vt":"bool"},{"p":"config","v":"3R2C_test","vt":"global"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":220,"wires":[["9244b5a85b4d8c05"]]},{"id":"23c13b23c780c20b","type":"inject","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"Preprocessing history data","props":[{"p":"mode","v":"train","vt":"str"},{"p":"write_CSV","v":"true","vt":"bool"},{"p":"config","v":"3R2C_test","vt":"global"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":300,"wires":[["f9a0ac4e7f717c0e"]]},{"id":"9244b5a85b4d8c05","type":"function","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"HA history fetch","func":"// Function node: \"HA history fetch\"\n\nconst pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\n// Payload naar Python\nconst data = {\n    base_url: cfg.ha_base_url,\n    token: cfg.ha_token,\n    name: cfg.name,\n    root_dir: cfg.rootDir,\n    mode: msg.mode,                         // \"train\" of \"predict\"\n    inputsConfig: cfg.inputsConfig,\n    outputConfig: cfg.outputConfig,\n    days: msg.days,                         // alleen gebruikt in train\n    input_window: cfg.input_window,         // alleen gebruikt in predict\n    intervalMinutes: cfg.intervalMinutes, \n    write_jsonl: msg.write_jsonl,\n};\n\npythonCall(\"ha_history_fetch\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["b31d205ccdc70135"]]},{"id":"b31d205ccdc70135","type":"debug","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"history fetch result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"f9a0ac4e7f717c0e","type":"function","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"ha_History_processor","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\n\nconst mode = msg.mode;\n\nlet historyRecords = null;\nif (mode === \"predict\") {\n    if (msg.payload && msg.payload.records !== undefined) {\n        historyRecords = msg.payload.records;\n    } else {\n        // Optioneel: wat extra logging zodat je weet dat er niets is\n        node.warn(\"ha_History_processor: mode=predict maar msg.payload.records ontbreekt.\");\n    }\n}\n\nif (mode === \"train\") {\n    msg.write_jsonl= true\n    }\n\nconst data = {\n    name: cfg.name,\n    rootDir: cfg.rootDir,\n    mode: msg.mode,\n    write_jsonl: msg.write_jsonl,\n    write_CSV: msg.write_CSV,\n    inputsConfig: cfg.inputsConfig,\n    outputConfig: cfg.outputConfig,\n    intervalMinutes: cfg.intervalMinutes,\n    input_window: cfg.input_window,\n    forecast_window: cfg.forecast_window,\n    featureEngineering: cfg.featureEngineering || {},\n    history_records: historyRecords,\n    forecast: cfg.forecast,\n    debug_df_all_base: false,\n};\n\npythonCall(\"ha_History_processor\", data, msg, node);\nreturn;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["e871ada20af6884d"]]},{"id":"e871ada20af6884d","type":"debug","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"preprocess result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"43dd94a6d46ac0cc","type":"comment","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"Preprocessing history data","info":"","x":230,"y":260,"wires":[]},{"id":"90dfc48ddaa1f6e8","type":"function","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"config","func":"// Modelnaam en root-dir\nconst name = \"3R2C_test\";\nconst rootDir = `/home/nilsdebaer/scripts/${name}`;\n\nconst latitude = Number(env.get(\"latitude\"));\nconst longitude = Number(env.get(\"longitude\"));\nconst timezone = env.get(\"timezone\") || \"Europe/Brussels\";\n\nconst ha_base_url = env.get(\"ha_base_url\");\nconst ha_token = env.get(\"ha_token\");\n\n// ───────────────────── inputsConfig ─────────────────────\nconst inputsConfig = [\n    // Weer\n    { entityId: \"sensor.sun_solar_azimuth\", name: \"zonazimut\", type: \"numeric\", period: 360, known_in_future: true },\n    { entityId: \"sensor.sun_solar_elevation\", name: \"zonhoogte\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.straling\", name: \"zonnestraling\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.luchtvochtigheid\", name: \"RH\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.windrichting_azimut\", name: \"windrichting\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.windsnelheid\", name: \"windsnelheid\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.windkracht\", name: \"windkracht\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.druk\", name: \"druk\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.gevoelstemperatuur\", name: \"gevoelstemperatuur\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.grondtemperatuur\", name: \"grondtemperatuur\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.neerslagintensiteit\", name: \"neerslagintensiteit\", type: \"numeric\", known_in_future: true },\n\n    // Woonkamer\n    { entityId: \"sensor.temperatuur\", name: \"buitentemperatuur\", type: \"numeric\", known_in_future: true },\n    { entityId: \"sensor.nachtmodus\", name: \"nachtmodus\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"binary_sensor.shelly_blu_door_window_0a3c_window\", name: \"deur woonkamer\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"binary_sensor.fibaro_door_window_sensor_2_window_door_is_open\", name: \"schuifraam woonkamer\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.rolluik_woonkamer_positie\", name: \"Rolluik woonkamer\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n\n    // CV\n    { entityId: \"binary_sensor.opentherm_thermostat_central_heating_1\", name: \"CV_mode\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.opentherm_thermostat_room_setpoint_1\", name: \"CV_Setpoint\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.opentherm_boiler_relative_modulation_level\", name: \"CV_ModLevel\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.opentherm_boiler_return_water_temperature\", name: \"CV_Temp_Return\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.opentherm_boiler_central_heating_1_water_temperature\", name: \"CV_Temp_Depart\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.gas_meter_gasverbruik\", name: \"gasverbruik\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.opentherm_boiler_maximum_capacity\", name: \"CV_Max_Vermogen\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.opentherm_boiler_maximum_central_heating_setpoint_upper_bound\", name: \"CV_Max_Temp_Depart\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"binary_sensor.opentherm_boiler_vlam\", name: \"CV_Vlam\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"binary_sensor.opentherm_boiler_heet_water\", name: \"CV_sanitair_heet_water\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    \n    \n    \n    // Warmtepomp (HP)\n    { entityId: \"sensor.warmtepomp_woonkamer_warmtepomp_woonkamer_setpoint\", name: \"HP_Setpoint\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"climate.warmtepomp_woonkamer_warmtepomp_woonkamer\", name: \"warmtepomp_mode\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.warmtepomp_woonkamer_stage\", name: \"warmtepomp_stage\", type: \"categorical\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.warmtepomp_woonkamer_power\", name: \"warmtepomp_verbruik\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n\n    // Externe warmtebronnen\n    { entityId: \"sensor.droogkast_channel_1_power\", name: \"droogkast\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.shellypmminig3_ecda3bc25b44_power\", name: \"afwasmachine\", type: \"numeric\", known_in_future: false, persist_in_future: true },\n    { entityId: \"sensor.wasmachine_channel_2_power\", name: \"wasmachine\", type: \"numeric\", known_in_future: false, persist_in_future: true }\n];\n\n// ───────────────────── featureEngineering config ─────────────────────\nconst featureEngineering = {\n    durations: [\n        //{ col: \"nachtmodus\", value: \"on\", out_prefix: \"nachtmodus\", add_toggles: true },\n        //{ col: \"CV_mode\", value: \"on\", out_prefix: \"cv_mode\", add_toggles: true },\n        //{ col: \"warmtepomp_stage\", value: \"heat\", out_prefix: \"hp_heat\", add_toggles: true },\n        //{ col: \"deur woonkamer\", value: \"on\", out_prefix: \"deur_woonkamer\", add_toggles: true },\n        //{ col: \"schuifraam woonkamer\", value: \"on\", out_prefix: \"schuifraam_woonkamer\", add_toggles: true }\n    ],\n\n    lags: [                                                                 // min\n    //    { col: \"binnentemperatuur\", steps: [1, 2, 12, 36] },\n    //    { col: \"warmtepomp_verbruik\", steps: [1, 12] }\n    ],\n\n    rolling: [                                                              // min\n    //    { col: \"warmtepomp_verbruik\", windows: [12, 36], mean: true, max: true },\n    //    { col: \"buitentemperatuur\", windows: [12, 72], mean: true }\n    ],\n    cyclical: [\n    //    { col: \"zonazimut\", period: 360, prefix: \"zonazimut_test\" },\n    ]\n};\n\n// ───────────────────── outputConfig ─────────────────────\nconst outputConfig = [\n    { entityId: \"sensor.opentherm_thermostat_kamertemperatuur\", name: \"binnentemperatuur\", type: \"numeric\" }\n];\n\nconst mode = msg.mode || 'train';              // \"train\" of \"predict\"\nconst write_CSV = msg.write_CSV || false;      // voor ha_History_processor\nconst write_jsonl = msg.write_jsonl || false;  // voor ha_history_fetch\nconst intervalMinutes = 1;\nconst input_window = 240;\nconst forecast_window = 1000;\n\nconst forecast = {\n    latitude,\n    longitude,\n    timezone,\n    weather_provider: \"open-meteo\",\n    forecast_days: 3,\n    open_meteo_model: \"best_match\",\n    solcast_csv_path: \"/home/nilsdebaer/scripts_node-red/python_tool/csv/solcast.csv\",\n};\n\nmsg.config = {\n    name,\n    rootDir,\n    ha_base_url,\n    ha_token,\n    inputsConfig,\n    outputConfig,\n    mode,\n    write_CSV,\n    intervalMinutes,\n    input_window,\n    featureEngineering,\n    write_jsonl,\n    forecast_window,\n    forecast,\n};\n\nglobal.set(name, msg.config)\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":140,"wires":[[]]},{"id":"b05558f2e11cdf4a","type":"inject","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["90dfc48ddaa1f6e8"]]},{"id":"e558d390bc7c43db","type":"comment","z":"65f73b18ea9fc5d1","g":"c82b86d63354d180","name":"Init config","info":"","x":180,"y":100,"wires":[]},{"id":"3ae5bf5f7ee2ad46","type":"inject","z":"65f73b18ea9fc5d1","g":"672c5f811723d5c3","name":"segments","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"tslow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":640,"wires":[["56b3a72ff3de3de6"]]},{"id":"56b3a72ff3de3de6","type":"function","z":"65f73b18ea9fc5d1","g":"672c5f811723d5c3","name":"segments","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n  timezone: cfg.forecast.timezone,\n  minMinutes: 240,\n  rules: [\n    { col: \"time\", op: \"between_time\", value: [\"00:00\", \"05:00\"] },\n    { col: \"nachtmodus_slapen\", op: \"==\", value: 1, stable_for: 40 },\n    { col: \"deur woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"schuifraam woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"Rolluik woonkamer\", op: \"<\", value: 5, stable_for: 0 },\n    { col: \"CV_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"warmtepomp_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"droogkast\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"afwasmachine\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"wasmachine\", op: \"<\", value: 5, stable_for: 20 },\n  ],\n  //start_on_transition: {\n  //  col: \"nachtmodus_slapen\",\n  //  from: 0,\n  //  to: 1,\n  //  stable_for: 30\n  //},\n  //before_minutes: 20,\n  //after_minutes: 5\n};\n\npythonCall(\"segments\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":640,"wires":[["b1df3648e41860f5"]]},{"id":"b1df3648e41860f5","type":"debug","z":"65f73b18ea9fc5d1","g":"672c5f811723d5c3","name":"segment result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":640,"wires":[]},{"id":"d39677cda4325c49","type":"inject","z":"65f73b18ea9fc5d1","g":"672c5f811723d5c3","name":"tslow","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"tslow","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":700,"wires":[["de5828e86ed8c033"]]},{"id":"de5828e86ed8c033","type":"function","z":"65f73b18ea9fc5d1","g":"672c5f811723d5c3","name":"tslow","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n};\n\npythonCall(\"tslow\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":700,"wires":[["c467e0ed0cc5bfed"]]},{"id":"c467e0ed0cc5bfed","type":"debug","z":"65f73b18ea9fc5d1","g":"672c5f811723d5c3","name":"tslow result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":700,"wires":[]},{"id":"e50e20a70caee979","type":"inject","z":"65f73b18ea9fc5d1","g":"9c1f3cd7bada7b24","name":"segments","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"tfast","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":800,"wires":[["117a5691bc56829d"]]},{"id":"117a5691bc56829d","type":"function","z":"65f73b18ea9fc5d1","g":"9c1f3cd7bada7b24","name":"segments","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n  timezone: cfg.forecast.timezone,\n  minMinutes: 60,\n  rules: [\n    { col: \"time\", op: \"between_time\", value: [\"00:00\", \"05:00\"] },\n    { col: \"nachtmodus_slapen\", op: \"==\", value: 1, stable_for: 40 },\n    { col: \"deur woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"schuifraam woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"Rolluik woonkamer\", op: \"<\", value: 5, stable_for: 0 },\n    { col: \"warmtepomp_mode_off\", op: \"==\", value: 1, stable_for: 0 },\n    { col: \"CV_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"droogkast\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"afwasmachine\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"wasmachine\", op: \"<\", value: 5, stable_for: 20 },\n  ],\n  start_on_transition: {\n    col: \"warmtepomp_mode_off\",\n    from: 0,\n    to: 1,\n    stable_for: 30\n  },\n  //before_minutes: 20,\n  //after_minutes: 5\n};\n\npythonCall(\"segments\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":800,"wires":[["7bb3ad3ff9017b25"]]},{"id":"7bb3ad3ff9017b25","type":"debug","z":"65f73b18ea9fc5d1","g":"9c1f3cd7bada7b24","name":"segment result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":800,"wires":[]},{"id":"57b2c4c38bb58326","type":"inject","z":"65f73b18ea9fc5d1","g":"9c1f3cd7bada7b24","name":"tfast","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"tfast","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":860,"wires":[["8942f3e452fb4d6d"]]},{"id":"8942f3e452fb4d6d","type":"function","z":"65f73b18ea9fc5d1","g":"9c1f3cd7bada7b24","name":"tfast","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n};\n\npythonCall(\"tfast\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":860,"wires":[["bba50baf53266907"]]},{"id":"bba50baf53266907","type":"debug","z":"65f73b18ea9fc5d1","g":"9c1f3cd7bada7b24","name":"tfast result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":860,"wires":[]},{"id":"37bed428a3b949f8","type":"inject","z":"65f73b18ea9fc5d1","g":"3ceb98c8795f9a76","name":"segments","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"r2r2c","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":960,"wires":[["64d3e842c5037a1a"]]},{"id":"64d3e842c5037a1a","type":"function","z":"65f73b18ea9fc5d1","g":"3ceb98c8795f9a76","name":"segments","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n  timezone: cfg.forecast.timezone,\n  minMinutes: 240,\n  rules: [\n    { col: \"time\", op: \"between_time\", value: [\"00:00\", \"05:00\"] },\n    { col: \"nachtmodus_slapen\", op: \"==\", value: 1, stable_for: 40 },\n    { col: \"deur woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"schuifraam woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"Rolluik woonkamer\", op: \"<\", value: 5, stable_for: 0 },\n    { col: \"CV_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"warmtepomp_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"droogkast\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"afwasmachine\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"wasmachine\", op: \"<\", value: 5, stable_for: 20 },\n  ],\n  //start_on_transition: {\n  //  col: \"nachtmodus_slapen\",\n  //  from: 0,\n  //  to: 1,\n  //  stable_for: 30\n  //},\n  //before_minutes: 20,\n  //after_minutes: 5\n};\n\npythonCall(\"segments\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":960,"wires":[["006ff99a19db3779"]]},{"id":"006ff99a19db3779","type":"debug","z":"65f73b18ea9fc5d1","g":"3ceb98c8795f9a76","name":"segment result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":960,"wires":[]},{"id":"9aea412a7612d779","type":"inject","z":"65f73b18ea9fc5d1","g":"3ceb98c8795f9a76","name":"r2r2c","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"r2r2c","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1020,"wires":[["782a012d0ecb5127"]]},{"id":"782a012d0ecb5127","type":"function","z":"65f73b18ea9fc5d1","g":"3ceb98c8795f9a76","name":"r2r2c","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,      \n  subProject: msg.subproject, \n  tslowSubProject: \"tslow\",\n  tfastSubProject: \"tfast\",\n  v: 140  //m³\n};\n\npythonCall(\"r2r2c\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1020,"wires":[["2a324c5f6cb4d97a"]]},{"id":"2a324c5f6cb4d97a","type":"debug","z":"65f73b18ea9fc5d1","g":"3ceb98c8795f9a76","name":"tslow result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1020,"wires":[]},{"id":"aaef2e91ef06df54","type":"inject","z":"65f73b18ea9fc5d1","g":"33cfaac64c6501b1","name":"segments","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"solar","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1120,"wires":[["3652e429b8acdef9"]]},{"id":"3652e429b8acdef9","type":"function","z":"65f73b18ea9fc5d1","g":"33cfaac64c6501b1","name":"segments","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n  timezone: cfg.forecast.timezone,\n  minMinutes: 60,\n  rules: [\n    { col: \"time\", op: \"between_time\", value: [\"05:00\", \"23:00\"] },\n    { col: \"zonhoogte\", op: \">\", value: 1, stable_for: 0 },\n    { col: \"deur woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"schuifraam woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"nachtmodus_afwezig\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"CV_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"warmtepomp_mode_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"Rolluik woonkamer\", op: \">\", value: 90, stable_for: 20 },\n    { col: \"droogkast\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"afwasmachine\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"wasmachine\", op: \"<\", value: 5, stable_for: 20 },\n  ],\n  //before_minutes: 20,\n  //after_minutes: 5\n};\n\npythonCall(\"segments\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1120,"wires":[["2ba9c09e94c8f7fa"]]},{"id":"2ba9c09e94c8f7fa","type":"debug","z":"65f73b18ea9fc5d1","g":"33cfaac64c6501b1","name":"segment result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":1120,"wires":[]},{"id":"e613c51a8878c2fe","type":"inject","z":"65f73b18ea9fc5d1","g":"33cfaac64c6501b1","name":"solar","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"solar","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1180,"wires":[["805e26c4d842f20a"]]},{"id":"805e26c4d842f20a","type":"function","z":"65f73b18ea9fc5d1","g":"33cfaac64c6501b1","name":"solar","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n  node.error(\"pythonCall helper niet gevonden\", msg);\n  return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n  node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n  return null;\n}\n\n// subproject kan bv. msg.subproject zijn (zoals jij gebruikt),\n// maar we pakken evt. ook msg.subProject mee als fallback.\nconst subProject = msg.subproject ?? msg.subProject ?? null;\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject,\n  tslowSubProject: \"r2r2c\",\n  windows: [\n    {\n      name: \"keukentafel\",\n      length_m: 2.558,\n      width_m: 1.935,\n      area_m2: 4.955,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    },\n    {\n      name: \"schuifraam\",\n      length_m: 2.250,\n      width_m: 1.925,\n      area_m2: 4.33125,\n      open_area_m2: 2.165625,\n      operability: \"open/dicht\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 76.88,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\",\n      horizon: [\n        { az_min: 45.0, az_max: 58.0, elev_min_deg: 7.7 },\n        { az_min: 58.0, az_max: 72.0, elev_min_deg: 6.0 },\n        { az_min: 72.0, az_max: 90.0, elev_min_deg: 9.0 }\n      ],\n      horizon_block_elsewhere: true\n    },\n    {\n      name: \"bureau_kinderen\",\n      length_m: 1.168,\n      width_m: 1.276,\n      area_m2: 1.490368,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    },\n    {\n      name: \"zetel\",\n      length_m: 1.153,\n      width_m: 1.235,\n      area_m2: 1.423955,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    },\n    {\n      name: \"bureau_straat\",\n      length_m: 2.012,\n      width_m: 1.235,\n      area_m2: 2.48482,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 256.88,\n      shutter_feature: \"RollerShutter_Livingroom\",\n      glass: \"dubbel glas argon\",\n      horizon: [\n        { az_min: 180.0, az_max: 190.0, elev_min_deg: 5.0 },\n        { az_min: 190.0, az_max: 240.0, elev_min_deg: { lin: [9.0, 16.0] } },\n        { az_min: 240.0, az_max: 250.0, elev_min_deg: 4.0 },\n        { az_min: 250.0, az_max: 255.0, elev_min_deg: 7.5 },\n        { az_min: 255.0, az_max: 266.0, elev_min_deg: { lin: [7.5, 12.5] } },\n        { az_min: 266.0, az_max: 280.0, elev_min_deg: 12.5 }\n      ],\n      horizon_block_elsewhere: true\n    },\n    {\n      name: \"buitendeur\",\n      length_m: 0.750,\n      width_m: 1.935,\n      area_m2: 1.45125,\n      open_area_m2: 1.45125,\n      operability: \"open/dicht\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    }\n  ]\n};\n\npythonCall(\"solar\", data, msg, node);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1180,"wires":[["46baa39224a8033a"]]},{"id":"46baa39224a8033a","type":"debug","z":"65f73b18ea9fc5d1","g":"33cfaac64c6501b1","name":"solar result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1180,"wires":[]},{"id":"8a28550b160a38cf","type":"inject","z":"65f73b18ea9fc5d1","g":"109d4e8c5622d9ae","name":"segments","props":[{"p":"config","v":"3R2C_test","vt":"global"},{"p":"subproject","v":"r2r2c_solar","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1280,"wires":[["0ca0968096132b6d"]]},{"id":"0ca0968096132b6d","type":"function","z":"65f73b18ea9fc5d1","g":"109d4e8c5622d9ae","name":"segments","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject: msg.subproject,\n  timezone: cfg.forecast.timezone,\n  minMinutes: 60,\n  rules: [\n    { col: \"deur woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"schuifraam woonkamer_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"nachtmodus_afwezig\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"CV_mode_off\", op: \"==\", value: 1, stable_for: 60 },\n    { col: \"warmtepomp_mode_off\", op: \"==\", value: 1, stable_for: 20 },\n    { col: \"droogkast\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"afwasmachine\", op: \">\", value: -5, stable_for: 20 },\n    { col: \"wasmachine\", op: \"<\", value: 5, stable_for: 20 },\n  ],\n  //before_minutes: 20,\n  //after_minutes: 5\n};\n\npythonCall(\"segments\", data, msg, node);\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1280,"wires":[["39bace1ea894efcf"]]},{"id":"39bace1ea894efcf","type":"debug","z":"65f73b18ea9fc5d1","g":"109d4e8c5622d9ae","name":"segment result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":1280,"wires":[]},{"id":"a908c40af0fa88d5","type":"function","z":"65f73b18ea9fc5d1","name":"r2r2c_solar","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n  node.error(\"pythonCall helper niet gevonden\", msg);\n  return null;\n}\n\nconst cfg = global.get('3R2C_test')\nif (!cfg) {\n  node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n  return null;\n}\n\n// subproject kan bv. msg.subproject zijn (zoals jij gebruikt),\n// maar we pakken evt. ook msg.subProject mee als fallback.\nconst subProject = 'r2r2c_solar';\n\nconst data = {\n  name: cfg.name,\n  rootDir: cfg.rootDir,\n  subProject,\n  r2r2c_SubProject: \"r2r2c\",\n  solar_SubProject: \"solar\",\n  payload:msg.payload,\n  windows: [\n    {\n      name: \"keukentafel\",\n      length_m: 2.558,\n      width_m: 1.935,\n      area_m2: 4.955,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    },\n    {\n      name: \"schuifraam\",\n      length_m: 2.250,\n      width_m: 1.925,\n      area_m2: 4.33125,\n      open_area_m2: 2.165625,\n      operability: \"open/dicht\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 76.88,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\",\n      horizon: [\n        { az_min: 45.0, az_max: 58.0, elev_min_deg: 7.7 },\n        { az_min: 58.0, az_max: 72.0, elev_min_deg: 6.0 },\n        { az_min: 72.0, az_max: 90.0, elev_min_deg: 9.0 }\n      ],\n      horizon_block_elsewhere: true\n    },\n    {\n      name: \"bureau_kinderen\",\n      length_m: 1.168,\n      width_m: 1.276,\n      area_m2: 1.490368,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    },\n    {\n      name: \"zetel\",\n      length_m: 1.153,\n      width_m: 1.235,\n      area_m2: 1.423955,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    },\n    {\n      name: \"bureau_straat\",\n      length_m: 2.012,\n      width_m: 1.235,\n      area_m2: 2.48482,\n      open_area_m2: 0.0,\n      operability: \"geen\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 256.88,\n      shutter_feature: \"RollerShutter_Livingroom\",\n      glass: \"dubbel glas argon\",\n      horizon: [\n        { az_min: 180.0, az_max: 190.0, elev_min_deg: 5.0 },\n        { az_min: 190.0, az_max: 240.0, elev_min_deg: { lin: [9.0, 16.0] } },\n        { az_min: 240.0, az_max: 250.0, elev_min_deg: 4.0 },\n        { az_min: 250.0, az_max: 255.0, elev_min_deg: 7.5 },\n        { az_min: 255.0, az_max: 266.0, elev_min_deg: { lin: [7.5, 12.5] } },\n        { az_min: 266.0, az_max: 280.0, elev_min_deg: 12.5 }\n      ],\n      horizon_block_elsewhere: true\n    },\n    {\n      name: \"buitendeur\",\n      length_m: 0.750,\n      width_m: 1.935,\n      area_m2: 1.45125,\n      open_area_m2: 1.45125,\n      operability: \"open/dicht\",\n      U_W_m2K: 1.1,\n      g_value: 0.64,\n      tilt_deg: 90.0,\n      azimuth_deg: 348.21,\n      shutter_feature: null,\n      glass: \"dubbel glas argon\"\n    }\n  ]\n};\n\npythonCall(\"r2r2c_solar\", data, msg, node);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":440,"wires":[["cbc29732ec3d68e2","8cb9bc1f0d1a6569"]]},{"id":"c819456b0edb4388","type":"inject","z":"65f73b18ea9fc5d1","g":"0ad74fb3c14bb86a","name":"Preprocessing predict data","props":[{"p":"mode","v":"predict","vt":"str"},{"p":"write_jsonl","v":"false","vt":"bool"},{"p":"write_CSV","v":"false","vt":"bool"},{"p":"config","v":"3R2C_test","vt":"global"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","x":220,"y":440,"wires":[["d4211d9741493979"]]},{"id":"d4211d9741493979","type":"function","z":"65f73b18ea9fc5d1","g":"0ad74fb3c14bb86a","name":"HA history fetch","func":"// Function node: \"HA history fetch\"\n\nconst pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\n// Payload naar Python\nconst data = {\n    base_url: cfg.ha_base_url,\n    token: cfg.ha_token,\n    name: cfg.name,\n    root_dir: cfg.rootDir,\n    mode: msg.mode,                         // \"train\" of \"predict\"\n    inputsConfig: cfg.inputsConfig,\n    outputConfig: cfg.outputConfig,\n    days: msg.days,                         // alleen gebruikt in train\n    input_window: cfg.input_window,         // alleen gebruikt in predict\n    intervalMinutes: cfg.intervalMinutes,\n    write_jsonl: msg.write_jsonl,\n};\n\npythonCall(\"ha_history_fetch\", data, msg, node);\nreturn;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":440,"wires":[["236bb88f37f8c861"]]},{"id":"236bb88f37f8c861","type":"function","z":"65f73b18ea9fc5d1","g":"0ad74fb3c14bb86a","name":"ha_History_processor","func":"const pythonCall = global.get(\"pythonCall\");\nif (typeof pythonCall !== \"function\") {\n    node.error(\"pythonCall helper niet gevonden\", msg);\n    return null;\n}\n\nconst cfg = msg.config;\nif (!cfg) {\n    node.error(\"config ontbreekt op msg – zorg dat de 'config'-node vooraf loopt.\", msg);\n    return null;\n}\n\n\nconst mode = msg.mode;\n\nlet historyRecords = null;\nif (mode === \"predict\") {\n    if (msg.payload && msg.payload.records !== undefined) {\n        historyRecords = msg.payload.records;\n    } else {\n        // Optioneel: wat extra logging zodat je weet dat er niets is\n        node.warn(\"ha_History_processor: mode=predict maar msg.payload.records ontbreekt.\");\n    }\n}\n\nif (mode === \"train\") {\n    msg.write_jsonl = true\n}\n\nconst data = {\n    name: cfg.name,\n    rootDir: cfg.rootDir,\n    mode: msg.mode,\n    write_jsonl: msg.write_jsonl,\n    write_CSV: msg.write_CSV,\n    inputsConfig: cfg.inputsConfig,\n    outputConfig: cfg.outputConfig,\n    intervalMinutes: cfg.intervalMinutes,\n    input_window: cfg.input_window,\n    forecast_window: cfg.forecast_window,\n    featureEngineering: cfg.featureEngineering || {},\n    history_records: historyRecords,\n    forecast: cfg.forecast,\n    debug_df_all_base: false,\n};\n\npythonCall(\"ha_History_processor\", data, msg, node);\nreturn;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":440,"wires":[["a908c40af0fa88d5","fa40beb0a7953c1e"]]},{"id":"335b3d349ee6b2b6","type":"ui-button","z":"65f73b18ea9fc5d1","g":"0ad74fb3c14bb86a","group":"38b283cfaea1da22","name":"Voorspel","label":"Voorspel","order":1,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":500,"wires":[["82aef8a29f8c2a68"]]},{"id":"82aef8a29f8c2a68","type":"function","z":"65f73b18ea9fc5d1","g":"0ad74fb3c14bb86a","name":"data","func":"msg.mode= 'predict',\nmsg.write_jsonl= false,\nmsg.write_CSV= false,\nmsg.config=global.get('3R2C_test')\n\n\n\n\n\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":500,"wires":[["d4211d9741493979"]]},{"id":"dbc3a14b6d72ebb9","type":"inject","z":"65f73b18ea9fc5d1","name":"Init chart style","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.8,"topic":"init-style","payload":"","payloadType":"date","x":1280,"y":380,"wires":[["7abdbef854ab818c"]]},{"id":"7abdbef854ab818c","type":"function","z":"65f73b18ea9fc5d1","name":"Init Chart Style","func":"// FlowFuse Dashboard 2 ui-chart (eCharts)\n// Stuur dit 1x bij start (en opnieuw na browser refresh indien nodig).\n// Tip: hou styling in deze node; stuur data apart (Pred/Actual).\n\nmsg.ui_update = {\n  chartOptions: {\n    // algemeen\n    animation: false,\n    grid: { top: 60, left: 55, right: 30, bottom: 95, containLabel: true },\n\n    legend: {\n      top: 26,\n      left: 10,\n      right: 10,\n      type: \"scroll\"          // handig als je later extra lijnen toevoegt\n    },\n\n    tooltip: {\n      trigger: \"axis\",\n      axisPointer: { type: \"cross\", snap: true },\n      confine: true,\n      appendToBody: true\n    },\n\n    // ✅ Zoom + pan\n    dataZoom: [\n      {\n        type: \"inside\",\n        xAxisIndex: 0,\n        filterMode: \"none\",\n        throttle: 40,\n        zoomOnMouseWheel: true,     // of: \"ctrl\"\n        moveOnMouseMove: true,\n        moveOnMouseWheel: true\n      },\n      {\n        type: \"slider\",\n        xAxisIndex: 0,\n        filterMode: \"none\",\n        bottom: 18,\n        height: 28,\n        showDetail: false,\n        showDataShadow: true,\n        brushSelect: false,\n        handleSize: \"90%\"\n      }\n    ],\n\n    // Toolbox\n    toolbox: {\n      right: 10,\n      top: 18,\n      itemSize: 18,\n      feature: {\n        dataZoom: { yAxisIndex: \"none\" },\n        restore: {},\n        saveAsImage: { pixelRatio: 2 },\n        dataView: { readOnly: true },\n        magicType: { type: [\"line\", \"bar\"] }\n      }\n    },\n\n    xAxis: {\n      type: \"time\",\n      axisLabel: {\n        formatter: \"{dd}/{MM} {HH}:{mm}\",\n        hideOverlap: true\n      }\n    },\n    yAxis: {\n      type: \"value\",\n      name: \"°C\",\n      nameGap: 35,\n      scale: true,\n      splitLine: { show: true }\n    },\n\n    series: [\n      {\n        name: \"Pred\",\n        type: \"line\",\n        smooth: 0.25,\n        showSymbol: false,\n        connectNulls: true,\n        lineStyle: { type: \"dashed\", width: 2 },\n        emphasis: { focus: \"series\" }\n      },\n      {\n        name: \"Actual\",\n        type: \"line\",\n        smooth: 0.15,\n        showSymbol: false,\n        connectNulls: true,\n        lineStyle: { width: 2 },\n        emphasis: { focus: \"series\" }\n      }\n    ]\n  }\n};\n\n// Belangrijk: stuur GEEN payload/topic/action mee, zodat de chart dit niet als data ziet\ndelete msg.payload;\ndelete msg.topic;\ndelete msg.action;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":380,"wires":[["1b92f88660cc767e"]]},{"id":"cbc29732ec3d68e2","type":"function","z":"65f73b18ea9fc5d1","name":"Store + plot PRED (replace)","func":"// Verwacht r2r2c_solar resultaat met results.future[{time, Tin_pred}]\n// FIX: bij nieuwe voorspelling eerst ui-chart volledig clearen (payload=[]), daarna nieuwe Pred sturen.\n\nfunction pickFuture(m) {\n    return (\n        m?.payload?.results?.future ||\n        m?.python?.result?.results?.future ||\n        m?.payload?.python?.result?.results?.future ||\n        m?.payload?.payload?.results?.future ||\n        null\n    );\n}\n\nconst future = pickFuture(msg);\nif (!Array.isArray(future) || future.length === 0) {\n    node.error(\"Geen results.future gevonden op msg (verwacht [{time, Tin_pred}])\", msg);\n    return null;\n}\n\nconst pred = future\n    .map(p => {\n        const t = Date.parse(p.time);\n        const ts = Math.floor(t / 60000) * 60000; // align op minuut\n        const v = Number(p.Tin_pred);\n        if (!Number.isFinite(ts) || !Number.isFinite(v)) return null;\n        return { Time: ts, Tin: v };\n    })\n    .filter(Boolean);\n\nif (pred.length === 0) {\n    node.error(\"results.future gevonden maar geen geldige (Time,Tin) punten na parsing\", msg);\n    return null;\n}\n\n// Bewaar in global geheugen\nglobal.set(\"TIN_PRED_SERIES\", pred);\nglobal.set(\"TIN_ACT_SERIES\", []);\nglobal.set(\"TIN_PRED_START_MS\", pred[0].Time);\nglobal.set(\"TIN_PRED_END_MS\", pred[pred.length - 1].Time);\nglobal.set(\"TIN_LAST_ACT_MS\", 0);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `pred punten: ${pred.length}` });\n\n// ✅ 1) CLEAR chart volledig (dit wist oude Pred + oude Actual uit de browser)\nnode.send({ payload: [] });\n\n// ✅ 2) Stuur nieuwe voorspelling\nmsg.topic = \"Pred\";\nmsg.action = \"append\";   // na clear: append is het meest stabiel\nmsg.payload = pred;\n\n// Geen rommel meegeven\n// (ui_update komt van Init Chart Style node)\ndelete msg.ui_update;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":440,"wires":[["1b92f88660cc767e"]]},{"id":"9c6058c13476cdc6","type":"inject","z":"65f73b18ea9fc5d1","name":"Poll elke 60s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":1,"topic":"","payload":"","payloadType":"date","x":1280,"y":320,"wires":[["41fda7ef2b6a4b59"]]},{"id":"41fda7ef2b6a4b59","type":"api-current-state","z":"65f73b18ea9fc5d1","name":"HA: kamertemp (current)","server":"ea494fa61cc1fbf6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.opentherm_thermostat_kamertemperatuur","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1550,"y":320,"wires":[["8e8fd27f8c6d6083"]]},{"id":"8e8fd27f8c6d6083","type":"function","z":"65f73b18ea9fc5d1","name":"Append + plot ACTUAL","func":"const pred = global.get(\"TIN_PRED_SERIES\");\nif (!Array.isArray(pred) || pred.length === 0) {\n    // Nog geen voorspelling binnen → niets doen\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"wacht op pred\" });\n    return null;\n}\n\n// Huidige waarde\nconst v = Number(msg.payload);\nif (!Number.isFinite(v)) {\n    node.warn(\"ACTUAL: payload is geen number\", msg);\n    return null;\n}\n\n// Tijdstempel: 1 punt per minuut\nconst now = Date.now();\nconst ts = Math.floor(now / 60000) * 60000;\n\nconst lastTs = Number(global.get(\"TIN_LAST_ACT_MS\") || 0);\nif (ts <= lastTs) return null;\n\nconst endMs = Number(global.get(\"TIN_PRED_END_MS\") || 0);\nif (endMs && ts > endMs + 10 * 60000) {\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"buiten pred window\" });\n    return null;\n}\n\nlet act = global.get(\"TIN_ACT_SERIES\");\nif (!Array.isArray(act)) act = [];\nact.push({ Time: ts, Tin: v });\n\n// Veiligheidslimiet\nif (act.length > 2000) act = act.slice(act.length - 2000);\n\nglobal.set(\"TIN_ACT_SERIES\", act);\nglobal.set(\"TIN_LAST_ACT_MS\", ts);\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: `act punten: ${act.length}` });\n\n// Chart: append 1 punt\nmsg.topic = \"Actual\";\nmsg.action = \"append\";   // ✅ expliciet append\nmsg.payload = [{ Time: ts, Tin: v }];\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":320,"wires":[["1b92f88660cc767e"]]},{"id":"1b92f88660cc767e","type":"ui-chart","z":"65f73b18ea9fc5d1","group":"38b283cfaea1da22","name":"","label":"Tin: voorspeld vs werkelijk","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"Time","xAxisPropertyType":"property","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"Tin","yAxisPropertyType":"property","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":2,"showLegend":true,"removeOlder":"16","removeOlderUnit":"3600","removeOlderPoints":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"12","height":"10","className":"","interpolation":"linear","x":2110,"y":440,"wires":[[]]},{"id":"8cb9bc1f0d1a6569","type":"debug","z":"65f73b18ea9fc5d1","name":"debug 792","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":520,"wires":[]},{"id":"fa40beb0a7953c1e","type":"debug","z":"65f73b18ea9fc5d1","name":"debug 793","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":580,"wires":[]},{"id":"38b283cfaea1da22","type":"ui-group","name":"Temperatuur","page":"51b28906f1a6a4c2","width":12,"height":1,"order":1,"showTitle":true,"className":"","visible":true,"disabled":false,"groupType":"default"},{"id":"ea494fa61cc1fbf6","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"51b28906f1a6a4c2","type":"ui-page","name":"Tin","ui":"2a976ff7ec15d445","path":"/tin","icon":"thermometer","layout":"grid","theme":"a5a27c5528cf138b","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"2a976ff7ec15d445","type":"ui-base","name":"UI Name","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":"1","showDisconnectNotification":true,"allowInstall":true},{"id":"a5a27c5528cf138b","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"8px","widgetGap":"12px"}}]